* {
    margin: 0;
    padding: 0;
}

body {
    background: #222;
    overflow: hidden;
    /* 取消选中 */
    user-select: none;

}

@keyframes rotate {
    100% {
          transform: rotateY(360deg);
    }
}

.perspective {
    /*子元素透视 场景深度*/
    perspective: 600px;
}

.wrap {
    /* 3d */
    width: 135px;
    height: 240px;
    margin: 100px auto;
    position: relative;
    /* border: 1px solid red; */
    transform: rotateX(-20deg) rotateY(0deg);
    transform-style: preserve-3d;

}

.wrap img {
    display: block;
    /* 绝对定位 */
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(0deg) translateZ(0px);
    background: transparent;
    box-shadow: 0 0 4px #fff;
    border-radius: 5px;

    /* webkit */
}

/* 照片底座 */
.wrap p {
    width: 1200px;
    height: 1200px;
    background: -webkit-radial-gradient(center center, 600px 600px, rgba(122, 122, 122, .5), rgba(0, 0, 0, 0));
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 100%;
    margin-left: -600px;
    margin-top: -600px;
    /* 沿着x轴按倒 */
    transform: rotateX(90deg);

}
/*按钮样式*/
.btn {
    background-color: #0367a6;
    background-image: linear-gradient(90deg, #0367a6 0%, #008997 74%);
    border-radius: 20px;
    border: 1px solid #0367a6;
    color: #e9e9e9;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.9rem 4rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
/*放大居中效果*/
.drawing{
width: 150px;
margin: 10px;
}
.drawing:hover{
cursor: zoom-in;
}
.wrapper{
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 999;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-color: rgba(52, 52, 52, 0.8);
background-size: 100%;
}
.wrapper:hover{
cursor: zoom-out;
}